section#articles {
    display: flex; flex-direction: column; gap: 3px; position: relative; padding-top: 2rem; padding-bottom: 5px; margin-top: 2rem;
}
section#articles::before {
    content: ""; display: block; width: 100%; height: 1px; background-color: var(--color-overlay); position: absolute; left: 0; top: 0;
}
section#articles article {
    display: flex; align-items: center; gap: .2em; cursor: pointer; border: solid 1px var(--color-overlay); border-radius: 5px; box-shadow: 3px 1px var(--color-shadow); padding-bottom: 3px; padding-left: 3px; padding-right: 3px;
}
section#articles article.on, section#articles article:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
section#articles article span {
    display: block;
}
section#articles article span.articleWriteAt, section#articles article span.articleTitle {
    line-height: 22px; font-size: .9em;
}
section#articles article span.articleWriteAt {
    font-size: .7em; font-family: var(--font-eng); width: 136px;
}
section#articles article span.articleIcons {
    line-height: 1;
}
section#articles article span.articleTitle {
    flex: 1;
}
.articleIcon {
    height: 20px; vertical-align: -webkit-baseline-middle;
}

#temptable1 table, #temptable1 table tr, #temptable1 table tr td, #temptable1 table tr th {
    border-collapse: collapse; border: solid 1px var(--color-overlay);
}

pre code.hljs {
    position: relative; font-size: .9em; white-space: break-spaces; word-wrap: break-word;
}
pre code.hljs div.language {
    position: absolute; top: 0; right: 0; font-size: .8em; padding: 0.5em 1em;
}
@media (prefers-color-scheme: light) {
    pre code.hljs div.language {color: blue;}
}
@media (prefers-color-scheme: dark) {
    pre code.hljs div.language {color: red;}
}

section#comments {
    display: flex; flex-direction: column; font-size: .8em; font-family: var(--font-kor); gap: 2px;
}
section#comments > div {
    display: flex; gap: 1px; padding: .5em; background-color: var(--color-overlay);
}
section#comments > div > div:first-of-type {
    width: 10.3em; line-height: 1.5; display: flex; align-items: flex-start; justify-content: space-around;
}
section#comments > div > div:last-of-type {
    flex: 1; line-height: 1.5;
}
section#comments > div > div:last-of-type p {
    margin: 0;
}
section#comments div.comment-trash svg {
    width: 1.5em; fill: red; cursor: pointer; background-color: white; padding: .2em; border-radius: 3px; border: solid 1px var(--color-background);
}
section#new-comment textarea#comment-content {
    display: block; width: 100%; height: 5rem; border: none;
}
section#new-comment input#comment-save {
    display: block; width: 100%; border: none; padding: .5em;
}