:root {
    color-scheme: light;
    /* color-scheme: light dark; */
    --header-height: 100px;
    --footer-height: 160px;
    --main-me-height: 50px;
    --main-ad-height: 300px;
    --container-width: 1100px;
    --category-width: 200px;
}

@media (prefers-color-scheme: light) {
    .scheme {
        color: black;
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .scheme {
        color: red;
        background-color: black;
    }
}

@media (min-width: 480px) {
    :root {
        --container-width: 470px;
    }
}
@media (min-width: 600px) {
    :root {
        --container-width: 580px;
    }
}
@media (min-width: 800px) {
    :root {
        --container-width: 780px;
    }
}
@media (min-width: 1024px) {
    :root {
        --container-width: 1000px;
    }
}
@media (min-width: 1600px) {
    :root {
        --container-width: 1200px;
    }
}

header,
main,
footer {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: var(--container-width);
    margin-left: auto; margin-right: auto;
}

header::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: black;
    position: fixed;
    left: 0;
}

header h1 {
    font-size: .6em;
}