:root {
    color-scheme: light;
    /* color-scheme: light dark; */
    --header-height: 100px;
    --footer-height: 160px;
    --main-me-height: 50px;
    --main-ad-height: 300px;
    --container-width: 1100px;
    --category-width: 200px;
}

@media (prefers-color-scheme: light) {
    .scheme {
        color: black;
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .scheme {
        color: red;
        background-color: black;
    }
}

@media (min-width: 360px) {
    :root {
        --container-width: 350px;
    }
}
@media (min-width: 480px) {
    :root {
        --container-width: 470px;
    }
}
@media (min-width: 600px) {
    :root {
        --container-width: 580px;
    }
}
@media (min-width: 800px) {
    :root {
        --container-width: 780px;
    }
}
@media (min-width: 1024px) {
    :root {
        --container-width: 1000px;
    }
}
@media (min-width: 1600px) {
    :root {
        --container-width: 1200px;
    }
}

header,
main,
footer {
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    position: static;
    width: var(--container-width);
    margin-left: auto; margin-right: auto;
}

header::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
}
footer {
    margin-top: 2rem;
}
footer #copyright {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: .6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    /* top: 0; */
}

/* header {
    display: flex;
} */
header h1 {
    font-size: .6em;
}
header h1 a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
}

main {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section#contents {
    font-size: .9em;
}
section#contents hr {
    border-style: dashed;
    border-width: 1px;
    border-bottom: none;
}

section#articles {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2rem;
}
section#articles::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
}

section#articles article {
    display: flex;
    align-items: center;
    gap: .2em;
    cursor: pointer;
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: 3px 1px #eeeeee;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
section#articles article:hover {
    background-color: aliceblue;
}
section#articles article span {
    display: block;
}
section#articles article span.articleWriteAt, section#articles article span.articleTitle {
    line-height: 22px;
    font-size: .9em;
}
section#articles article span.articleWriteAt {
    font-size: .7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section#articles article span.articleIcons {
    line-height: 1;
}

.articleIcon {
    width: 22px;
    height: 22px;
    vertical-align: -webkit-baseline-middle;
}

#temptable1 table, #temptable1 table tr, #temptable1 table tr td, #temptable1 table tr th {
    border-collapse: collapse;
    border: solid 1px gray;
}

pre code.hljs {
    position: relative;
    font-size: .9em;
}
pre code.hljs div.language {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    padding: 0.5em 1em;
    color: blue;
}
